<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {{!-- data interpolation işlemleri {{data}} --}}
   <title>{{title}}</title>
   <link rel="stylesheet" href="css/styles.css" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body class="wrapper">

   {{!-- <nav>
      <a href="">Anasayfa</a>
      <a href="/about">Hakkımızda</a>
      <a href="/makale">Makaleler</a>
   </nav> --}}

   {{!-- aşağıdaki kod ile partials klasörü altındaki dosyaları render etmek için tanımlama yaptık --}}
   {{>navbar }}

   <div class="container-fluid">
      {{{body}}}
   </div>



   {{!-- html raw ifadeler buraya render olacağından {{{}}} yazdık. --}}
   {{!-- renderBody() --}}

   <script src="js/site.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

   {{!-- @renderSection('script', false) --}}
   {{!-- html element script elementi render edileceğinden dolayı {{{element}}}} --}}
   {{!-- handlebars da section script diye bir özellik yok. --}}
   {{!-- handlebar sections --}}
   {{{sections.script}}}

</body>

</html>